/.vs
/Section 2 - Classes/Classes/.vs
/Section 2 - Classes/Classes/bin
/Section 2 - Classes/Classes/obj
/Section 2 - Classes/Customer/.vs
/Section 2 - Classes/Customer/bin
/Section 2 - Classes/Customer/obj
